/*** variables ***/ 
$yellow: #ecd048;
/* rgb(236, 208, 72)*/
$green: #0d9968;
/* rgb(12, 153, 104)*/
$gray: #383838;
$blue: #69b8d5;
/* rgb(105, 184, 213)*/
$white: #fff;
$black: #000;
$bodyFont: 'Lato',
sans-serif;
$accentsFont: 'Arizonia',sans-serif;
$fontSize: 16px;
$transition: .4s ease;

/*** mixins ***/ 
@mixin bgImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}
/*** basic styles ***/ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*** styles ***/ 

body {
    font-family: $bodyFont;
    font-size: $fontSize;
    color: $green;
    padding: 10px 0 30px 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $accentsFont;
    color: $gray;
}
.container {
    width: 80%;
    margin: auto;
}
a {
    text-decoration: none;
    &:hover{
        transition: $transition;

    }
}
.sing-up{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $green;
    color: $white;
    padding: 20px;
    text-align: center;
    a{
        color: $black;
    }

}

/*** nav ***/ 

nav{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    .logo{
        font-family: $accentsFont;
        font-size: 3rem;
        color: $white;
        background: $gray;
        padding: 10px 15px;
        border-radius: 10px 35px;
 
    }
    ul{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        li{
            list-style: none;
            margin-left: 50px ;
        }
        a{
            font-size: 1.2rem;
            color: $gray;
            font-weight: 900;
            text-transform: uppercase;
            &:hover{
                background: transparent;
                color: $gray;
            }

        }
    }
}
/*** HOME ***/ 

#home{
    background-image:linear-gradient(rgba(236, 208, 72,.5),rgba(236, 208, 72,.5)),
        url(img/home-background.png);
   @include bgImg;
}
