/*** variables ***/ 
$yellow: #ecd048;
/* rgb(236, 208, 72)*/
$green: #0d9968;
/* rgb(12, 153, 104)*/
$gray: #383838;
$blue: #69b8d5;
/* rgb(105, 184, 213)*/
$white: #fff;
$black: #000;
$bodyFont: 'Lato',
sans-serif;
$accentsFont: 'Arizonia',sans-serif;
$fontSize: 16px;
$transition: .4s ease;

/*** mixins ***/ 
@mixin bgImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}
@mixin  flexCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/*** basic styles ***/ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*** styles ***/ 

body {
    font-family: $bodyFont;
    font-size: $fontSize;
    color: $gray;
    padding: 10px 0 30px 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $accentsFont;
    color: $gray;
}
.container {
    width: 80%;
    margin: auto;
}
a {
    text-decoration: none;
    &:hover{
        transition: $transition;

    }
}
.sing-up{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $green;
    color: $white;
    padding: 20px;
    text-align: center;
    a{
        color: $black;
    }

}
.main-haddings{
    font-size: 5rem;
    margin-bottom: 15px;
    font-weight: bold;
}
.underline{
    background: $gray;
    height: 8px;
    width: 100px;
    margin-bottom: 15px;
}

.icons{
    display: flex;
    list-style: none;
    li{
        margin-right: 30px;
        a{
            font-size: 2rem;
            color: $gray;
            &:hover{
                color: $black;
                transition-duration: .7s;
            }
        }
    i:hover{
        animation: punKrug 0.7s linear ;
     }
     @keyframes punKrug {
         100%{
             transform: rotate(360deg);
         }
         
     }

    }
}

/*** nav ***/ 

nav{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    @media(max-width: 768px){
        flex-direction: column;

    }
    .logo{
        font-family: $accentsFont;
        font-size: 3rem;
        color: $white;
        background: $gray;
        padding: 10px 15px;
        border-radius: 10px 35px;
        text-align: center;
 
    }
    ul{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        .active{
            background: $gray;
            border-radius: 25px;
            padding: 10px 20px;
            color: $white;
            border: 4px solid $gray;

        }
        li{
            list-style: none;
            margin-left: 50px ;
            @media(max-width: 768px){
                margin: 20px 5px 5px 5px;
            }
        }
        a{
            font-size: 1.2rem;
            color: $gray;
            font-weight: 900;
            text-transform: uppercase;
            &:hover{
                background: transparent;
                color: $gray;
            }

        }
    }
}
/*** HOME ***/ 

#home{
    background-image:linear-gradient(rgba(236, 208, 72,.5),rgba(236, 208, 72,.5)),
        url(img/home-background.png);
   @include bgImg;
   @media(max-width: 768px){
    background-position: right;
    background-image:linear-gradient(rgba(236, 208, 72,.8),rgba(236, 208, 72,.8)),
        url(img/home-background.png);
}
   .about-home{
       height: 80vh;
       @include flexCenter;
       font-size: 1.7rem;
       width: 60%;
       @media(max-width: 768px){
        width: 100%;
    }
       
   }
}

/*** ABOUT ***/ 

#about{
    background: $green;
    .about-page{
        padding-top: 100px;
        padding-bottom: 50px;
        p{
            font-size: 1.4rem;
            text-align: justify;
            .img-left{
                float: left;
                width: 30%;
                &:hover {
                    transform: rotate(360deg);
                }
            }
            .img-right{
                float: right;
                width: 30%;
                &:hover {
                    transform: rotate(-360deg);
                }
            }
        }

    }
}

